@import url($font_url);

:root {
    --primary-color: $primary_color;
    --secondary-color: $secondary_color;
    --line-height: 1.6;
    /* --lg-font-size: 15px;
    --mid-font-size: 15px;
    --sm-font-size: 10px; */
}

html {
    width: 210mm;
    height: 297mm;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font_name, Helvetica, sans-serif;
    font-size: $font_size !important;
    zoom: 80%;
}

/* #body {
    margin-left: auto;
    margin-right: auto;
    padding: 10mm 19mm 0mm 18mm;
    box-sizing: border-box;
} */

@page {
    margin: $global_margin;
    size: $page_size $page_layout;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}
.row-space {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}
.company-logo-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.company-logo-wrapper img {
    max-width: $company_logo_size;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* client info  */
.client-wrapper {
    margin-bottom: 9mm;
    font-size: var(--lg-font-size);
}

.client-wrapper .row {
    display: flex;
    flex-flow: row wrap;
}

.client-wrapper .row .title {
    width: 100px;
}

.client-wrapper .row .details {
}

/* invoice info  */
.invoice-info {
    font-size: var(--lg-font-size);
    margin-bottom: 6mm;
}

.invoice-info .row {
    display: flex;
    flex-flow: row wrap;
}

/* .invoice-info .row .title {
    width: 150px;
} */

/* product wrap  */
.product-wrap {
    font-size: var(--lg-font-size);
    height: 126mm;
}

.product-wrap .top-border {
    border-top: 1px solid black;
    width: 10mm;
    margin-bottom: 2mm;
}
.product-wrap .project-list {
    padding-right: 15px;
}

.product-wrap li {
    margin-bottom: 10mm;
}
.product-wrap .project-list .row {
    justify-content: space-between;
}

.address,
.terms-and-invoice,
.how-to-pay {
    color: var(--secondary-color);
}

.total-price {
    font-size: var(--lg-font-size);
    margin-bottom: 5mm;
}

.address {
    font-size: var(--mid-font-size);
    margin-bottom: 5mm;
}

.terms-and-invoice {
    font-size: var(--sm-font-size);
    margin-bottom: 5mm;
}
.how-to-pay {
    font-size: var(--sm-font-size);
}

.blue {
    color: #80b8e0;
}
